<header class="top-bar">
    <div class="headerST">
        <div class="logotipos">
            <img class="logoSaludTotal" src="assets/images/Logo_PAUCasa.png">
        </div>
        
    </div>
    <!-- <div class="tool-bar">
            <a class="return-menu" (click)="RegresarURl()">
            <img class="icon-return-menu" src="assets/icons/Volver.svg"> REGRESAR AL MENÚ
        </a>
        <a class="module-name">
            
            <b style="color: #7F7F7F">{{ modulosPadres | uppercase }}&nbsp;</b>
            <b>{{ moduloActual | uppercase }} </b>
        </a>
    </div> -->
</header>

